body, section{
  text-align: center;
}

section, .cancha, .porteria, .centro{
  border: 2px solid;
  border-color: white;
}

section{
  box-sizing: border-box;
  width: 80%;
  height: 500px;
  display: inline-block;
  margin: 50px;
  background-color: rgba(103, 196, 103, 0.64);
}

.cancha{
  position: relative;
  width: 88%;
  height: 370px;
  box-sizing: border-box;
  margin: 60px;
}

.elementos{
  position: absolute;
}
.porteria{
  display: inline-block;
  width: 126px;
  height: 160px;
  top: 100px;
}

#porteria1{
  left: -2px;
}

#porteria2{
  right: -2px;
}

.centro, .pelotas{
  border-radius: 50px;
}

.centro{
  height: 100px;
  width: 100px;
  top: 130px;
  left: 42%;
}

.pelotas{
  height: 15px;
  width: 15px;
  background-color: white;
}

#pelota0{
  top: 101px;
  left: 119px;
}

#pelota1{
  top: 54px;
  left: 330px;
}

#pelota2{
  top: 249px;
  right: 127px;
}
